<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8568">  <td>16/04/07 23:27:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompareResultNumber.firstFormTest()[pri:0, instance:tests.CompareResultNumber@d7b1517]">firstFormTest</td> 
  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>16/04/07 23:27:39</td>   <td>-1627</td> <td>&nbsp;</td><td title="&gt;&gt;IntegrationBase.setup()[pri:0, instance:tests.CompareResultNumber@d7b1517]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>16/04/07 23:27:40</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompareResultNumber.setupHomePage()[pri:0, instance:tests.CompareResultNumber@d7b1517]">&gt;&gt;setupHomePage</td> 
<td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
</table>
